$icon-size: 10px;
$slot-width-size: 99%;
$slot-height-size: 330px;

%slot-rale {
	height: $slot-height-size;
	overflow-y: hidden;
}

#container {
	width: $slot-width-size;
	display: flex;
	justify-content: center;
	position: relative;
	border: solid 4px #dddddd;
}
#division {
	width: calc($slot-width-size / 3);
}
#team {
	width: calc($slot-width-size / 3);
}
#member {
	width: calc($slot-width-size / 3);
}
div.wrap {
	@extend %slot-rale;
	border: solid 1px #eeeeee;
	box-shadow: inset 0px 4px 6px #999, inset 0px -4px 6px #999;
}
div.content {
	height: calc($slot-height-size / 3);
	height: 100px;
	font-size: 2em;
	text-align: center;
	vertical-align: middle;
	border: solid 1px #eeeeee;
	padding-top: 15px;
}

@keyframes fly {
	0% {
		transform: translate(0, 0);
	}
	25% {
		transform: translate(0, 50);
	}
	50% {
		transform: translate(0, 0);
	}
	75% {
		transform: translate(0, -50);
	}
	100% {
		transform: translate(0, 0);
	}
}

div.detected {
	background-color: red;
}

div.detectedArea {
	position: absolute;
	z-index: -10;
	top: 0px;
	width: 99%;
	height: 99%;
}
