$icon-size: 10px;
$display-size: 3em;

%main-font {
	font-size: $display-size;
}

@define-mixin icon $name {
	width: $icon-size;
	&::after {
		content: "";
		background-url: url(/icons/$(name).png);
	}
}

#container {
	width: 100%;
	display: flex;
}
#division {
	@extend %main-font;
	width: 33%;
}
#team {
	@extend %main-font;
	width: 33%;
}
#member {
	@extend %main-font;
	width: 33%;
}

.search {
	@mixin icon search;
}
