$icon-size: 10px;
$slot-width-size: 99%;
$slot-height-size: 700px;

%slot-rale {
	height: $slot-height-size;
	overflow-y: hidden;
}

#container {
	width: $slot-width-size;
	display: flex;
	justify-content: center;
	position: relative;
	border: solid 4px #dddddd;
}
#division {
	width: calc($slot-width-size / 3);
}
#team {
	width: calc($slot-width-size / 3);
}
#member {
	width: calc($slot-width-size / 3);
}
div.wrap {
	@extend %slot-rale;
	border: solid 1px #eeeeee;
	box-shadow: inset 0px 4px 6px #999, inset 0px -4px 6px #999;
}
div.content {
	height: calc($slot-height-size / 3);
	border: solid 1px #eeeeee;
	text-align: center;
	position: relative;
}
div.content span {
	width: 80%;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%);
	font-size: 60px;
}

div.detected {
	color: white;
	background-color: #4169e1;
}

div.detectedArea {
	position: absolute;
	z-index: -10;
	top: 0px;
	width: 99%;
	height: 99%;
}
