div.wrap {
	height: 700px;
	overflow-y: hidden;
}

#container {
	width: 99%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	position: relative;
	border: solid 4px #dddddd;
}
#division {
	width: calc(99% / 3);
}
#team {
	width: calc(99% / 3);
}
#member {
	width: calc(99% / 3);
}
div.wrap {
	border: solid 1px #eeeeee;
	box-shadow: inset 0px 4px 6px #999, inset 0px -4px 6px #999;
}
div.content {
	height: calc(700px / 3);
	border: solid 1px #eeeeee;
	text-align: center;
	vertical-align: middle;
	padding: auto;
}
div.content span {
	margin: auto;
	font-size: 60px;
}

div.detected {
	color: white;
	background-color: #4169e1;
}

div.detectedArea {
	position: absolute;
	z-index: -10;
	top: 0px;
	width: 99%;
	height: 99%;
}
